@()(implicit req: RequestHeader, assets: AssetsFinder)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Annotation Tool Login</title>
    </head>
    <body>
        <h1>Annotation Tool Login</h1>
        <form method="POST">
            <label for="token">Login Token: </label>
            <input name="token" type="text" placeholder="Token">
            <br>
            @helper.CSRF.formField
            <input type="submit" value="Login">
        </form>
    </body>
</html>